@charset "UTF-8";
@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/layout";
@import "partials/mixins";
@font-face {
  font-family:"Input Mono Narrow";
  src: url('../fonts/input_mono_narrow.woff') format('woff');
}
@font-face {
  font-family: "Input Mono Bold";
  src: url('../fonts/input_mono_bold.woff') format('woff');
}
@font-face {
  font-family: "Input Mono Narrow Bold";
  src: url('../fonts/input_mono_narrow_bold.woff') format('woff');
}
body,html{
  font-size: 14px;
  overflow-x: hidden;
}
*:focus {
    outline: none !important;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: $md-break) {
  .heading-wrapper{
    padding: 3em 16px !important;
    h1{
      font-size: 2rem !important;
    }
  }
}
// this is loading wrapper for inde.html page
.loader-wrapper{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
  vertical-align: middle;
  text-align: center;
  z-index: 11;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: $white;
  }
}
.loading {
    margin-top: calc( 50vh - 25px);
    border-radius: 50%;
    display: inline-block;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: spin $spin-duration infinite linear;
  &--double {
    border-style: double;
    border-width: .5rem;
  }
}


a{
  text-decoration: none;
}

.test{
  border: 1px solid red;
}

.center{
  text-align: center;
}

.pin-form-page{

  width: 100%;

  .pin-form{
    padding: 16px 0px;

    .heading{
      padding: 8px 32px;
      font-family: $ubuntu;
      width: auto;
    }

    .btn-submit{
      padding: 8px 16px;
      text-decoration: none;
      font-family: $ubuntu;
      background-color: $primaryy-btn;
      color: $white;
      text-transform: uppercase;
    }


    .btn-disabled{
      cursor: not-allowed;
    }
  }
}

.home-page{

  .userprofile-container{
    // width: 95%;
    margin: 0 auto;
    min-height: 20vh;
    // padding: 32px;

    background: #673AB7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: relative;

    .profile-head{
      position: absolute;
      padding: 16px;
      // top:10%;
      // border: 3px solid green;
      width: 100%;

      .user-name{
        font-size: 2.2rem;
        font-family: $ubuntu;
        color: $white;
      }

      .user-email{
        color: $white;
        font-family: $ubuntu;
        font-size: 1.8rem;
      }
    }

    .show-all-pins-container{
      position: absolute;
      top:80%;
      min-height: 80vh;
      width: 100%;

      .show-pins-card{
        width: 95%;
        margin: 0 auto;
        background-color: $white;
        height: 70vh;

        .tabs{
          height: 100%;
          // background-color: $white;



        }

        .mypins-list{
          list-style-type: none;

          li{
            border-bottom: 1px solid #CFD8DC;
            padding: 8px 0px;
          }
        }

      }

    }
  }

}
