article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #1a1a1a;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Input Mono Narrow";
  src: url("../fonts/input_mono_narrow.woff") format("woff");
}
@font-face {
  font-family: "Input Mono Bold";
  src: url("../fonts/input_mono_bold.woff") format("woff");
}
@font-face {
  font-family: "Input Mono Narrow Bold";
  src: url("../fonts/input_mono_narrow_bold.woff") format("woff");
}
body, html {
  font-size: 14px;
  overflow-x: hidden;
}

*:focus {
  outline: none !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 960px) {
  .heading-wrapper {
    padding: 3em 16px !important;
  }
  .heading-wrapper h1 {
    font-size: 2rem !important;
  }
}
.loader-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
  vertical-align: middle;
  text-align: center;
  z-index: 11;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  50% {
    background: #ffffff;
  }
}
.loading {
  margin-top: calc( 50vh - 25px);
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 0.25rem solid rgba(0, 0, 0, 0.4);
  border-top-color: #ffffff;
  animation: spin 800ms infinite linear;
}
.loading--double {
  border-style: double;
  border-width: .5rem;
}

a {
  text-decoration: none;
}

.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.test {
  border: 1px solid red;
}

.center {
  text-align: center;
}

.pin-form-page {
  width: 100%;
}
.pin-form-page .pin-form {
  padding: 16px 0px;
}
.pin-form-page .pin-form .heading {
  padding: 8px 32px;
  font-family: "Ubuntu", sans-serif;
  width: auto;
}
.pin-form-page .pin-form .btn-submit {
  padding: 8px 16px;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  background-color: #1F8EED;
  color: #ffffff;
  text-transform: uppercase;
}
.pin-form-page .pin-form .btn-disabled {
  cursor: not-allowed;
}

.my-custom-stars .button .material-icons {
  font-size: 50px;
}

.my-custom-stars .star-button.star-on .material-icons {
  color: #003399;
}

.my-custom-stars .star-button.star-off .material-icons {
  color: #99ccff;
}

.home-page .userprofile-container {
  margin: 0 auto;
  min-height: 20vh;
  background: #005C97;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005c97);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
}
.home-page .userprofile-container .profile-head {
  position: absolute;
  padding: 16px;
  width: 100%;
}
.home-page .userprofile-container .profile-head .user-name {
  font-size: 2.2rem;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
}
.home-page .userprofile-container .profile-head .user-email {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
}
.home-page .userprofile-container .show-all-pins-container {
  position: absolute;
  top: 80%;
  min-height: 80vh;
  width: 100%;
}
.home-page .userprofile-container .show-all-pins-container .show-pins-card {
  width: 95%;
  margin: 0 auto;
  background-color: #ffffff;
  height: 70vh;
}
.home-page .userprofile-container .show-all-pins-container .show-pins-card .tabs {
  height: 100%;
}
.home-page .userprofile-container .show-all-pins-container .show-pins-card .mypins-list {
  list-style-type: none;
}
.home-page .userprofile-container .show-all-pins-container .show-pins-card .mypins-list li {
  border-bottom: 1px solid #CFD8DC;
  padding: 8px 0px;
}
.home-page .userprofile-container .show-all-pins-container .show-pins-card .mypins-list .see-btn {
  background-color: #1F8EED;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  padding: 8px 16px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.see-btn {
  background-color: #1F8EED;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  padding: 8px 16px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.see-btn1 {
  margin: 16px 0px;
  text-decoration: none;
}

.mypinonMap-page .zomato-btn-container {
  padding: 16px;
}
.mypinonMap-page .zomato-btn {
  background-color: #1F8EED;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  padding: 8px 16px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.mypinonMap-page .zomato-row .zomato-card-container {
  padding: 8px;
}
.mypinonMap-page .zomato-row .zomato-card-container .card {
  min-height: 40vh;
  padding: 16px;
}
.mypinonMap-page .zomato-row .zomato-card-container .card img {
  max-width: 100%;
  height: 30vh;
}
.mypinonMap-page .zomato-row .zomato-card-container .card h3 {
  font-family: "Ubuntu", sans-serif;
}
